body{
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;   
}

.container{
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

h1{
    color: rgb(3, 55, 71);
    margin: 0;
    margin-bottom: 10px;
}

p{
    margin: 0;
}

header{
    background-color: rgb(19, 6, 75);
    height: 30px;
    margin-bottom: 20px;
}

header ol {
    list-style: none;
    display: flex;
    margin: 0;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

header ol li{
    margin: 0 10px;
    
}

header ol li a{
    text-decoration: none;
    color: white
}

.grid-container{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: repeat(2,350px);
    gap: 10px;
    justify-content: center;
}